<main>
  
  <p class="notice">
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
  </p>

  <p class="show"><strong>Title: </strong><%= @book.title %></p>
  <p class="show"><strong>Body: </strong><%= @book.body %></p>

  <p class="link"><%= link_to "Edit", edit_book_path(@book.id) %> | <%= link_to "Back", books_path %></p>

</main>